@import 'base/reset';
@import 'base/typography';

// font-family: 'Rubik Iso', cursive;

body {
	width: 100dvw;
	width: 100vw;
	height: 100dvh;
	height: 100vh;
	line-height: normal;
	overflow-y: scroll;

	cursor: none;

	background-color: #080705;
	// background-color: #40434e;
}

#loader {
	opacity: 0;

	width: 100%;
	height: 100%;

	position: absolute;
	color: white;

	display: grid;
	place-items: center;

	p {
		font-size: 3rem;

		font-family: 'Roboto Mono', monospace;
		font-weight: lighter;
	}
}

@media only screen and (max-width: 768px) {
	main section {
		width: 80%;
	}
}

#cursor {
	position: absolute;
	width: 20px;
	height: 20px;

	// background-color: #f8a100;
	background-color: transparent;
	backdrop-filter: invert(100%);
	border-radius: 100%;

	pointer-events: none;

	z-index: 1000;
}

main {
	hr {
		width: 20%;
		margin-inline: auto;
	}

	opacity: 0;
	transition: opacity 1s ease-in;

	width: 100%;
	min-height: 100%;
	height: auto;

	margin-inline: auto;
	// padding: 3rem;

	font-family: 'Roboto Mono', monospace;
	font-weight: lighter;

	display: flex;
	flex-direction: column;
	// align-items: center;

	// gap: 2rem;

	overflow-x: hidden;

	color: whitesmoke;
	// border: 1px solid grey;

	.title {
		position: absolute;
		top: 0;
		left: 0;

		padding-top: 2rem;

		h1 {
			font-family: 'Lexend', sans-serif;
			font-size: 3rem;
			margin: 0;
		}

		&-leading {
			font-size: 14px;
		}
	}

	#about {
		display: flex;
		flex-direction: column;

		position: relative;

		&-container {
			height: 100%;

			display: flex;
			flex-direction: column;
			justify-content: center;

			// border: 1px solid green;

			#about-me {
				img {
					width: 24px;

					position: relative;
					top: 3px;
					left: 4px;
				}
			}
		}
	}

	section {
		width: 40%;
		height: 100vh;

		margin-inline: auto;

		// border: 2px solid cyan;
	}

	#projects {
		width: 100vw;
		height: 100vh;
		// overflow-x: scroll;

		// left: 50%;
		position: relative; // border: 1px solid green;

		button {
			position: absolute;
			left: 50%;
		}

		#right {
			left: 55%;
		}

		&-container {
			width: max-content;
			height: 100%;

			display: flex;
			align-items: center;
			gap: 16rem;

			// border: 1px solid cyan;
			user-select: none;

			.project {
				width: 100vw;
				height: 100%;

				display: grid;
				place-items: center;

				#info {
					h1 {
						font-family: 'Lexend', sans-serif;
						font-size: 4rem;
					}

					&-animation {
						position: relative;
						animation: drag 3s cubic-bezier(0.54, 0, 0.43, 0.99) infinite;
					}
				}

				&-container {
					width: 800px;
					height: 700px;

					-webkit-box-shadow: inset 0px 0px 44px -7px rgba(0, 0, 0, 1);
					-moz-box-shadow: inset 0px 0px 44px -7px rgba(0, 0, 0, 1);
					box-shadow: inset 0px 0px 44px -7px rgba(0, 0, 0, 1);

					position: relative;

					&:hover > .image {
						filter: blur(5px) grayscale(100%);
					}

					&:hover > .project-info {
						opacity: 1;
					}

					.project-title {
						width: max-content;
						height: max-content;

						position: absolute;
						bottom: 0;
						left: 0;

						backdrop-filter: blur(3px) grayscale(100%);
						border-top-right-radius: 2rem;
						// border: 3px dashed black;

						padding: 1rem;
					}

					.project-info {
						opacity: 0;
						transition: opacity 0.5s;

						width: max-content;
						height: max-content;

						font-size: 3rem;
						line-height: normal;

						position: absolute;
						bottom: 0;
						right: 0;

						padding: 0.5rem 1rem;
					}

					.image {
						// width: 40vmin;
						// height: 56vmin;
						width: 150%;
						height: 150%;

						transition: filter 0.5s;

						position: relative;

						object-fit: cover;
						object-position: 100% center;
						box-shadow: inset 0 0 10px #f8a100;

						z-index: -2;
					}

					div {
						width: 100%;
						height: 70%;

						// border: 1px solid yellow;
					}
				}
			}
		}
	}

	#skills {
		position: relative;

		display: grid;
		place-items: center;

		&-container {
			width: auto;
			// height:;

			display: grid;

			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(auto-fit, 150px);

			.skill {
				aspect-ratio: 1;

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;

				// border: 1px solid red;

				i {
					font-size: 100px;
					filter: brightness(500%) grayscale(100%);

					transition: filter 1s;
					-webkit-transition: -webkit-filter 1s;

					&:hover {
						filter: grayscale(80%);
					}
				}

				img {
					width: 100px;
					height: 100px;
					object-fit: contain;

					filter: grayscale(80%);
				}
			}
		}
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 0;

		display: flex;
		align-items: center;
		gap: 2rem;

		transition: 0.5s;

		#show-footer {
			width: 50px;
			height: 50px;

			z-index: 50;

			border: none;

			cursor: none;
		}

		#footer-content {
			position: relative;
			right: 1200px;

			transition: right 0.5s;
		}
	}
}

@keyframes drag {
	from {
		left: 0;
	}

	70% {
		left: 83%;
		letter-spacing: 4px;
	}

	to {
		left: 0;
	}
}
